<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>01</span> Nhiệm vụ</h3>
                    <p>Đổi mới sáng tạo và phát triển sản phẩm dịch vụ du lịch có chất lượng tốt nhằm đáp ứng nhu cầu đa dạng và phong phú của khách hàng trong nước và quốc tế</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>02</span> Tầm Nhìn</h3>
                    <p>Tầm nhìn Thỏa mãn giá trị đời sống tinh thần và nâng cao chất lượng cuộc sống của khách hàng là nền tảng những giá trị cốt lõi đối với ShopTours.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro">
                    <h3><span>03</span> Sứ mệnh</h3>
                    <p>Đảm bảo những giá trị lợi ích của khách hàng cũng như thỏa mãn nhu cầu về an toàn trong ngành dịch vụ du lịch khi khách hàng sử dụng sản phẩm của ShopTours.</p>
                </div>
            </div>
        </div>
    </div>
</section>
