.heading-section h2 {
    font-family: 'Times New Roman', Times;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    color: #E76F51;
    margin: 5px
}

.ftco-about {
    margin-top: 20px;
}

.dk-title {
    font-weight: bold;
    color: #E76F51;
    padding-left: 10px;
}

ul {
    padding-left: 10px;
}
