<div class="width-box">

    <div class="row">

        <div class="col-3">
            <section class="ftco-search">
                <div class="box">
                    <div class=" img-avt scale-img max-width" *ngIf="user.avt==''">
                        <img src="http://localhost:3000/default.png">
                    </div>
                    <div class=" img-avt scale-img max-width" *ngIf="user.avt!=''">
                        <img src="http://localhost:3000/{{user.avt}}">
                    </div>
                </div>
            </section>
        </div>
        <div class="col-9">
            <div class="box">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Thông tin cá nhân">
                        <div class="profile">
                            <div class="row">
                                <div class="col-6">
                                    <form action="" [formGroup]="form" (ngSubmit)="change()">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-3">Username</div>
                                                    <div class="col-9"><input type="text" formControlName="tenNguoiDung" [value]="user.tenNguoiDung" [placeholder]="user.tenNguoiDung">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-3">Họ tên</div>
                                                    <div class="col-9"><input [disabled]="disable" type="text" formControlName="hoTen" [value]="user.hoTen" [placeholder]="user.hoTen">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-3">CMND/CCCD</div>
                                                    <div class="col-9"><input (keypress)="numberOnly($event)" type="text" formControlName="cmnd" [value]="user.cmnd" [placeholder]="user.cmnd">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-3">SĐT</div>
                                                    <div class="col-9"><input (keypress)="numberOnly($event)" type="text" formControlName="sdt" [value]="user.sdt" [placeholder]="user.sdt">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <div class="row">
                                                    <div class="col-3">Ngày sinh</div>
                                                    <div class="col-3">{{this.pipe.transform(user.ngaySinh,"dd/MM/yyyy")}}</div>
                                                    <div class="col-6"><input type="date" formControlName="ngaySinh" [value]="user.ngaySinh" [placeholder]="user.ngaySinh">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-3">
                                    <div class="button mb-4">
                                        <button (click)="change()">{{text}}</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Lịch sử đặt Tour">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Chưa xác nhận">Chưa xác nhận</mat-tab>
                            <mat-tab label="Chưa thanh toán">Chưa thanh toán</mat-tab>
                            <mat-tab label="Đã hoàn thành">Đã hoàn thành</mat-tab>
                            <mat-tab label="Đã hủy">Đã hủy</mat-tab>
                        </mat-tab-group>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>
