<div class="width-box">

    <div class="row">

        <div class="col-3">
            <section class="ftco-search">
                <div class="box">
                    <div class=" img-avt scale-img max-width">
                        <img src="http://localhost:3000/default.png">
                    </div>
                </div>
            </section>
        </div>
        <div class="col-9">
            <div class="box">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Thông tin cá nhân">
                        <div class="profile">
                            <div class="row">
                                <div class="col-6">
                                    <form action="">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="text" [disabled]="disable" [value]="user.tenNguoiDung" [placeholder]="user.tenNguoiDung">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="text" [disabled]="disable" [value]="user.hoTen" [placeholder]="user.hoTen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="text" [disabled]="disable" [value]="user.email" [placeholder]="user.email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input (keypress)="numberOnly($event)" [disabled]="disable" type="text" [value]="user.cmnd" [placeholder]="user.cmnd">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input (keypress)="numberOnly($event)" [disabled]="disable" type="text" [value]="user.sdt" [placeholder]="user.sdt">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input type="date" [disabled]="disable" [value]="user.ngaySinh" [placeholder]="user.ngaySinh">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <div class="button mb-4">
                                        <button (click)="change()">{{text}}</button>
                                    </div>
                                    <div class="button">
                                        <button (click)="cancel()">hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Lịch sử đặt Tour">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Chưa xác nhận">Chưa xác nhận</mat-tab>
                            <mat-tab label="Chưa thanh toán">Chưa thanh toán</mat-tab>
                            <mat-tab label="Đã hoàn thành">Đã hoàn thành</mat-tab>
                            <mat-tab label="Đã hủy">Đã hủy</mat-tab>
                        </mat-tab-group>
                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>