<section class="ftco-search">
    <div class="width-box">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                <div class="mt-3">
                                    <h4>{{user.hoTen}}</h4>
                                    <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <button class="btn btn-primary">Follow</button>
                                <button class="btn btn-outline-primary">Message</button> -->
                                </div>
                            </div>
                            <hr class="my-4">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Họ và tên</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{user.hoTen}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Email</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" class="form-control" value="{{user.email}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">CMND/CCCD</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="text" (keypress)="numberOnly($event)" class="form-control" value="{{user.cmnd}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Số điện thoại</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input (keypress)="numberOnly($event)" type="text" class="form-control" value="{{user.sdt}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h4 class="mb-0">Ngày sinh</h4>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="date" class="form-control" value="{{user.ngaySinh}}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button type="button" class="btn btn-primary px-4">Lưu thay đổi</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
