.width-box {
    margin-top: 20px;
}

.img-avt {
    box-shadow: 2px 2px 2px 2px opacify($color: #5c5c5c, $amount: 0.2);
    border-radius: 50%;
}

.img-avt img {
    border-radius: 50%;
}

.col-9 .box {
    box-shadow: 2px 2px 2px 2px opacify($color: #5c5c5c, $amount: 0.2);
}

.profile {
    padding: 20px;
}

input {
    width: 100%;
}

button {
    padding: 10px 30px;
    box-shadow: 2px 2px 2px 2px opacify($color: #E76F51, $amount: 0.2);
    background: #fff;
    border: #E76F51 2px solid;
    text-transform: uppercase;
    font-weight: bold;
    color: #E76F51;
}

.box {
    box-shadow: 2px 2px 2px 2px opacify($color: #5c5c5c, $amount: 0.2);
    background-color: #fff;
}
