<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center  ">
                <h2 class="mb-4">CÓ THỂ BẠN CẦN</h2>

            </div>
        </div>
    </div>
    <div class="row max-width">
        <div class="col-md-3">
            <div class="box-item relative">
                <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    <div class="price-item absolute">3 000 000 đ
                    </div>
                </div>

            </div>
            <div class="property">
                <div class="cut_string2">
                    <div class="name-item">
                        Du lịch Cao Bằng Du lịch Cao Bằng</div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">place</i>TP. Hồ Chí Minh</div>
                    <div class="col-md-4 right">Còn:<span>5 vé</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">alarm</i>15/07/2022</div>
                    <div class="col-md-4 right">3 ngày 2 đêm</div>
                </div>
                <div class="buttons">
                    <button>Xem chi tiết</button>
                    <button>Đặt ngay</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-item relative">
                <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    <div class="price-item absolute">3 000 000 đ
                    </div>
                </div>

            </div>
            <div class="property">
                <div class="cut_string2">
                    <div class="name-item">
                        Du lịch Cao Bằng Du lịch Cao Bằng</div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">place</i>TP. Hồ Chí Minh</div>
                    <div class="col-md-4 right">Còn:<span>5 vé</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">alarm</i>15/07/2022</div>
                    <div class="col-md-4 right">3 ngày 2 đêm</div>
                </div>
                <div class="buttons">
                    <button>Xem chi tiết</button>
                    <button>Đặt ngay</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-item relative">
                <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    <div class="price-item absolute">3 000 000 đ
                    </div>
                </div>

            </div>
            <div class="property">
                <div class="cut_string2">
                    <div class="name-item">
                        Du lịch Cao Bằng Du lịch Cao Bằng</div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">place</i>TP. Hồ Chí Minh</div>
                    <div class="col-md-4 right">Còn:<span>5 vé</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">alarm</i>15/07/2022</div>
                    <div class="col-md-4 right">3 ngày 2 đêm</div>
                </div>
                <div class="buttons">
                    <button>Xem chi tiết</button>
                    <button>Đặt ngay</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box-item relative">
                <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    <div class="price-item absolute">3 000 000 đ
                    </div>
                </div>

            </div>
            <div class="property">
                <div class="cut_string2">
                    <div class="name-item">
                        Du lịch Cao Bằng Du lịch Cao Bằng</div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">place</i>TP. Hồ Chí Minh</div>
                    <div class="col-md-4 right">Còn:<span>5 vé</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 left"><i class="material-icons">alarm</i>15/07/2022</div>
                    <div class="col-md-4 right">3 ngày 2 đêm</div>
                </div>
                <div class="buttons">
                    <button>Xem chi tiết</button>
                    <button>Đặt ngay</button>
                </div>
            </div>
        </div>

    </div>
</section>
