<section class="ftco-section">
    <div class="width-box">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="">{{title}}</h2>
                <p>{{subTitle}}</p>
            </div>
        </div>
        <div class="g-img">
            <ul class="gallery-grid">
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/khanhhoa.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Khánh Hòa</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/danang.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Đà Nẵng</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Ninh Thuận</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/HaNoi.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Hà Nội</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/quangnam.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Quảng Nam</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/laichau.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Lai Châu</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a href="#">
                        <div class="title">
                            <p class="title-t">Ninh Thuận</p>
                            <p class="subTitle">100 Tour</p>
                        </div>
                    </a>
                </div>

            </ul>
        </div>
    </div>
</section>
