<section class="ftco-section">
    <div class="width-box">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="">{{title}}</h2>
                <p>{{subTitle}}</p>
            </div>
        </div>
        <div class="g-img">
            <ul class="gallery-grid">
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/khanhhoa.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[0].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[0].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[0].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/danang.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[1].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[1].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[1].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[2].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[2].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[2].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/HaNoi.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[3].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[3].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[3].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/quangnam.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[4].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[4].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[4].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/laichau.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[5].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[5].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[5].sotour}} tour</p>
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[6].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[6].tendiadiem}}</p>
                            <p class="subTitle">{{diadiem[6].sotour}} tour</p>
                        </div>
                    </a>
                </div>

            </ul>
        </div>
    </div>
</section>
