<section class="ftco-section">
    <div class="width-box">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="">{{title}}</h2>
                <p>{{subTitle}}</p>
            </div>
        </div>
        <div class="g-img">
            <ul class="gallery-grid">
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/khanhhoa.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[1].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[1].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/danang.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[14].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[14].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[43].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[43].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/HaNoi.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[23].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[23].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="tall scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/quangnam.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[47].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[47].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/laichau.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[58].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[58].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>
                <div class="wide scale-img">
                    <img class="img-item" src="../../../../../assets/web/images/diadiem/ninhthuan.jpg" alt="">
                    <a [routerLink]="['../tour/diemden/',diadiem[36].id]">
                        <div class="title">
                            <p class="title-t">{{diadiem[36].ten}}</p>
                            <!-- <p class="subTitle">100 Tour</p> -->
                        </div>
                    </a>
                </div>

            </ul>
        </div>
    </div>
</section>