<div class="width-box">
    <section class="ftco-about d-md-flex">
        <div class="col-6 img max-width">
            <div class="img-box">
                <img src="http://localhost:3000/{{tour.anhtour}}">
                <!-- <div class="d-md-flex flex-gap flex justifylex"> -->
                <!-- <div class="img-child" *ngFor="let img of hinhanh">
                        <img src="http://localhost:3000/{{img.tenanh}}">
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
        <div class="col-6">
            <div class="heading-section">
                <div class="cut_string4">
                    <h1 class="mb-4">{{tour.tentour}}
                    </h1>
                </div>
            </div>
            <div class="body-section">
                <div class="info-tour">
                    <ul>
                        <li>Thể loại: <span>{{tour.tentheloai}}</span></li>
                        <li>Xuất phát tại: <span>{{tour.tendiemdi}}</span></li>
                        <li>Điểm đến: <span>{{tour.tendiemden}}</span></li>
                        <li>Ngày khởi hành: <span>{{findDateDisplay(this.ngay)}}</span></li>
                        <li>Thời gian: <span *ngIf="tour.soDem!=0">{{tour.soNgay}} ngày {{tour.soDem}} đêm</span>
                            <span *ngIf="tour.soDem==0">{{tour.soNgay}} ngày</span>
                        </li>
                        <li>Còn: <span>{{findBlank(this.ngay)}}</span></li>
                        <li>Nơi tập trung: <span>Đang cập nhật</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <app-thong-tin-khach [tour]="this.tour" [vetrong]="this.findBlank(this.ngay)" [ngaykh]="this.ngay" [ngayKHs]="this.ngayKHs">
    </app-thong-tin-khach>
</div>
