<div class="card">
    <div class="card-body">
        <!-- title -->
        <h4 class="card-title">Top 5 Doanh nghiệp nổi bật</h4>
        <h5 class="card-subtitle">....</h5>

        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <th class="text-dark font-medium fs-4">STT</th>
                    <th class="text-dark font-medium fs-4">Tên Doanh nghiệp</th>
                    <th class="text-dark font-medium fs-4">Tổng số Tour</th>
                    <th class="text-dark font-medium fs-4">Tour dự kiến</th>
                    <tr *ngFor='let tr of topCongTy; index as i'>
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>
                            {{tr.tenCongTy}}
                        </td>
                        <td>
                            {{tr.tongTour}}
                        </td>
                        <td>
                            {{tr.tourDuKien}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
