<div class="row">
    <!-- ==================================-->
    <!-- ======= Basic Nav ===== -->
    <!-- ==================================-->
    <div class="col-12">
        <div class="card">
            <div class="p-3">
                <h4 class="card-title mb-0">QUẢN LÝ NGƯỜI DÙNG</h4>
            </div>
            <div class="p-3">
                <p class="card-description">
                    <a [routerLink]="['create']"><button type="button" class="btn btn-success btn-rounded btn-fw">Thêm
              mới + </button></a>
                </p>
            </div>
            <div class="card">
                <div class="card-body">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="Tất cả">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Username</th>
                                                <th class="text-dark font-medium fs-4">Email</th>
                                                <th class="text-dark font-medium fs-4">SĐT</th>
                                                <th class="text-dark font-medium fs-4">Họ tên</th>
                                                <th class="text-dark font-medium fs-4">CMND</th>
                                                <th class="text-dark font-medium fs-4">Ngày sinh</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th class="text-dark font-medium fs-4"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of user; index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenNguoiDung}}
                                                </td>
                                                <td>
                                                    {{tr.email}}
                                                </td>
                                                <td>
                                                    {{tr.sdt}}
                                                </td>
                                                <td>
                                                    {{tr.hoTen}}
                                                </td>
                                                <td>
                                                    {{tr.cmnd}}
                                                </td>

                                                <td>
                                                    {{this.pipe.transform(tr.ngaySinh, "dd/MM/yyyy")}}
                                                </td>
                                                <td *ngIf="tr.trangThai==1" style="color:green">
                                                    Hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai!=1" style="color:red">
                                                    Bị khóa
                                                </td>
                                                <td *ngIf="tr.trangThai==1">
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="lock(tr.id)">
                            <i class="bi bi-lock"></i></button>
                                                </td>
                                                <td *ngIf="tr.trangThai!=1">
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="unlock(tr.id)">
                            <i class="bi bi-unlock"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hoạt động">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Username</th>
                                                <th class="text-dark font-medium fs-4">Email</th>
                                                <th class="text-dark font-medium fs-4">SĐT</th>
                                                <th class="text-dark font-medium fs-4">Họ tên</th>
                                                <th class="text-dark font-medium fs-4">CMND</th>
                                                <th class="text-dark font-medium fs-4">Ngày sinh</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th class="text-dark font-medium fs-4"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of filterUserByStatus(1); index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenNguoiDung}}
                                                </td>
                                                <td>
                                                    {{tr.email}}
                                                </td>
                                                <td>
                                                    {{tr.sdt}}
                                                </td>
                                                <td>
                                                    {{tr.hoTen}}
                                                </td>
                                                <td>
                                                    {{tr.cmnd}}
                                                </td>

                                                <td>
                                                    {{this.pipe.transform(tr.ngaySinh, "dd/MM/yyyy")}}
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="lock(tr.id)">
                            <i class="bi bi-lock"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Vô hiệu hóa">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Username</th>
                                                <th class="text-dark font-medium fs-4">Email</th>
                                                <th class="text-dark font-medium fs-4">SĐT</th>
                                                <th class="text-dark font-medium fs-4">Họ tên</th>
                                                <th class="text-dark font-medium fs-4">CMND</th>
                                                <th class="text-dark font-medium fs-4">Ngày sinh</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th class="text-dark font-medium fs-4"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of filterUserByStatus(0); index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenNguoiDung}}
                                                </td>
                                                <td>
                                                    {{tr.email}}
                                                </td>
                                                <td>
                                                    {{tr.sdt}}
                                                </td>
                                                <td>
                                                    {{tr.hoTen}}
                                                </td>
                                                <td>
                                                    {{tr.cmnd}}
                                                </td>

                                                <td>
                                                    {{this.pipe.transform(tr.ngaySinh, "dd/MM/yyyy")}}
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="unlock(tr.id)">
                            <i class="bi bi-unlock"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>
        </div>
    </div>
</div>