<section class="ftco-section">
    <div class="width-box">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="">{{title}}</h2>
                <p>{{subTitle}}</p>
            </div>
        </div>

        <div class="row max-width">
            <div class="col-md-3" *ngFor="let tl of theLoai; index as i">
                <a [routerLink]="['../tour/theloai/',tl.id]">
                    <div class="box-item relative scale-img">
                        <img class="relative" src="../../../../../assets/web/images/DLAT/{{dlats[i].img}}">
                        <div class=" name-item absolute">
                            <p class="title">{{tl.tenLoai}}</p>
                            <p class="subTitle">{{dlats[i].subTitle}} - <span>{{tl.id}} tours</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>