<a class="btn-back" [routerLink]="['../']"><button type="button" class="btn btn-success btn-rounded btn-fw">Xem danh
  sách tour
</button></a>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cập nhật thông tin tour</h4>
            <form class="form-sample">
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Thông tin tour</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tên tour</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="tên tour" placeholder="Tên tour" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Điểm nổi bật</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" value="Điểm nổi bật của tour" placeholder="Điểm nổi bật của tour" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Loại tour</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                  <option>Tour gia đình</option>
                  <option>Team building</option>
                  <option>Tour ...</option>
                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Công ty lữ hành</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                  <option>Công ty 1</option>
                  <option>Công ty 2</option>
                  <option>Công ty 3</option>
                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Thời gian</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ngày khởi hành</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Ngày về</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Địa điểm</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Điểm khởi hành</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                  <option>TP Hồ Chí Minh</option>
                  <option>Hà Nội</option>
                  <option>Đà Nẵng</option>
                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Điểm đến</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                  <option>TP Hồ Chí Minh</option>
                  <option>Hà Nội</option>
                  <option>Đà Nẵng</option>
                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin grid-child">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mô tả</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" rows="5" value="Mô tả tour" placeholder="Mô tả tour"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cần chuẩn bị</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" rows="5" value="Cần chuẩn bị" placeholder="Cần chuẩn bị"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Chế độ trẻ em</p>
                    <div class="card">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">0-2 tuổi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="1.000.000 đ" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">3-5 tuổi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="2.000.000 đ" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">5-12 tuổi</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="3.000.000 đ" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Ảnh</p>
                    <div class="card">
                        <label class="btn btn-default"><i class="bi bi-upload"></i>
                      Chọn <input type="file" hidden>
                  </label>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2"> Xác nhận </button>
                <button class="btn btn-light">Hủy</button>
            </form>
        </div>
    </div>
</div>
