<div class="col-12 grid-margin grid-child">
    <p class="card-description">Bảng giá</p>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Người lớn</label>
                <div class="col-sm-9">
                    <input type="text" disabled class="form-control" value="" placeholder="&#8805;   9 tuổi" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Giá: </label>
                <div class="col-sm-9">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="number" min="0" matInput placeholder="4 999 000">
                            <mat-hint matSuffix>đ</mat-hint>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Trẻ em</label>
                <div class="col-sm-9">
                    <input type="text" disabled class="form-control" value="" placeholder="   5-9 tuổi" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Giá: </label>
                <div class="col-sm-9">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="number" min="0" matInput placeholder="3 999 000">
                            <mat-hint matSuffix>đ</mat-hint>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Em bé</label>
                <div class="col-sm-9">
                    <input type="text" disabled class="form-control" value="" placeholder="&#8804;   5 tuổi" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Giá: </label>
                <div class="col-sm-9">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input type="number" min="0" matInput placeholder="0">
                            <mat-hint matSuffix>đ</mat-hint>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
