<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch  ">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-yatch"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Gía tốt</h3>
                        <p>Cam kết giá tốt nhất cho những dịch vụ trong chuyến đi.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch  ">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-around"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Phương tiện</h3>
                        <p>Dịch vụ phương tiện di chuyển luôn sẵn sàng từ các đối tác tốt nhất, đáng tin cậy nhất.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch  ">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-compass"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Thanh toán dễ dàng, đa dạng</h3>
                        <p>Có nhiều hình thức thành toán để khách hàng có trải nghiệm sử dụng dịch vụ tốt nhất.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch  ">
                <div class="media block-6 services d-block">
                    <div class="icon"><span class="flaticon-map-of-roads"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Hỗ trợ khách hàng 24/7</h3>
                        <p>Luôn có dội ngũ nhân viên tư vấn khách hàng luôn sẵn sàng giải đáp các thắc mắc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
