.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E76F51;
}

.heading-section h2 {
    font-family: 'Times New Roman', Times;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    color: #000
}

.ftco-about {
    margin: 0 25px;
}

.ftco-about .one-half {
    padding: 5% 5% 5% 5%;
    width: 50%;
}

._ngcontent-nfx-c154:nth-child(1) {
    margin-left: 25px;
}