<!-- Tìm kiếm -->
<app-timkiem></app-timkiem>

<!-- Tiện ích -->
<!-- <app-tienich></app-tienich> -->

<!--Du lịch an toàn-->
<app-du-lich-an-toan></app-du-lich-an-toan>

<!-- Ưu đãi tốt nhất hôm nay -->
<!-- <app-uu-dai-tot-nhat></app-uu-dai-tot-nhat> -->


<!-- Điểm đến yêu thích -->
<!-- <app-dia-diem-yeu-thich></app-dia-diem-yeu-thich> -->
<!-- Gioiws thiệu -->
<!-- <app-gioithieu></app-gioithieu> -->

<!-- Ưu điểm -->
<!-- <app-uudiem></app-uudiem> -->

<!-- Tour bán chạy -->
<app-bestsellingtours></app-bestsellingtours>

<!-- Tour mới -->
<app-newtours></app-newtours>


<!-- Tin tức -->
<!-- <app-tintuc></app-tintuc> -->