.img-box {
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 2px opacify($color: #5c5c5c, $amount: 0.2);
}

.flex-gap {
    margin-top: 20px;
    gap: 5px;
}

.flex-gap img {
    max-height: 70px;
    min-height: 70px;
}