<div class="img-box" *ngIf="tour.anhtour!='default.png'">
    <img src="http://localhost:3000/{{tour.anhtour}}">
    <div class="d-md-flex flex-gap flex justifylex">
        <div class="img-child max-width" *ngFor="let img of this.hinhanh.slice(0,4)">
            <img src="http://localhost:3000/{{img.tenanh}}">
        </div>
    </div>
</div>
<div class="img-box" *ngIf="tour.anhtour=='default.png'">
    <img src="http://localhost:3000/{{this.hinhanh[1].tenanh}}">
    <div class="d-md-flex flex-gap flex justifylex">
        <div class="img-child max-width" *ngFor="let img of this.hinhanh.slice(0,4)">
            <img src="http://localhost:3000/{{img.tenanh}}">
        </div>
    </div>
</div>