<div class="card-body border-top">
    <div class="p-3">
        <a class="btn-back" [routerLink]="['../../../detail',this.idTG]"><button type="button"
        class="btn btn-success btn-rounded btn-fw">Danh sách Ngày khởi hành
      </button></a>
    </div>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Tất cả">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-lt">
                            <table class="table table-bordered align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-dark font-medium fs-4">STT</th>
                                        <th class="text-dark font-medium fs-4">Số điện thoại</th>
                                        <th class="text-dark font-medium fs-4">Họ tên</th>
                                        <th class="text-dark font-medium fs-4">Vé người lớn</th>
                                        <th class="text-dark font-medium fs-4">Vé trẻ em</th>
                                        <th class="text-dark font-medium fs-4">Vé trẻ nhỏ</th>
                                        <th class="text-dark font-medium fs-4">Trạng thái</th>
                                        <th class="text-dark font-medium fs-4">Cập nhật</th>
                                        <th class="text-dark font-medium fs-4">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of users; index as i">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{u.sdt}}
                                        </td>
                                        <td>
                                            {{u.hoTen}}
                                        </td>
                                        <td>
                                            {{u.tongSoVeNl}}
                                        </td>
                                        <td>
                                            {{u.tongSoVeTe}}
                                        </td>

                                        <td>
                                            {{u.tongSoVeTn}}
                                        </td>
                                        <td [style]="getColor(u.trangThai)">
                                            {{getStatus(u.trangThai)}}
                                        </td>
                                        <td *ngIf="u.trangThai!=1 && u.trangThai!=2"> </td>
                                        <td *ngIf="u.trangThai==1" class="confirm">
                                            <button (click)="confirmBookTour(u.id)">Xác nhận</button>
                                        </td>
                                        <td *ngIf="u.trangThai==2" class="confirm">
                                            <button (click)="confirmThanhToan(u.id)">Thanh toán</button>
                                        </td>
                                        <td>
                                            {{formatCurrency(u.tongTien)}}
                                        </td>
                                        <!-- <td>
                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="confirmBookTour(u.id)">
      <i class="bi bi-eye"></i></button>
                </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab *ngFor="let status of hoadonStatus" label="{{status.name}}">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-lt">
                            <table class="table table-bordered align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-dark font-medium fs-4">STT</th>
                                        <th class="text-dark font-medium fs-4">Số điện thoại</th>
                                        <th class="text-dark font-medium fs-4">Họ tên</th>
                                        <th class="text-dark font-medium fs-4">Vé người lớn</th>
                                        <th class="text-dark font-medium fs-4">Vé trẻ em</th>
                                        <th class="text-dark font-medium fs-4">Vé trẻ nhỏ</th>
                                        <th class="text-dark font-medium fs-4">Cập nhật</th>
                                        <th class="text-dark font-medium fs-4">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of filterHDByStatus(status.id); index as i">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{u.sdt}}
                                        </td>
                                        <td>
                                            {{u.hoTen}}
                                        </td>
                                        <td>
                                            {{u.tongSoVeNl}}
                                        </td>
                                        <td>
                                            {{u.tongSoVeTe}}
                                        </td>

                                        <td>
                                            {{u.tongSoVeTn}}
                                        </td>

                                        <td *ngIf="u.trangThai!=1 && u.trangThai!=2"> </td>
                                        <td *ngIf="u.trangThai==1" class="confirm">
                                            <button (click)="confirmBookTour(u.id)">Xác nhận</button>
                                        </td>
                                        <td *ngIf="u.trangThai==2" class="confirm">
                                            <button (click)="confirmThanhToan(u.id)">Thanh toán</button>
                                        </td>
                                        <td>
                                            {{formatCurrency(u.tongTien)}}
                                        </td>
                                        <!-- <td>
                      <button type="button" class="btn btn-inverse-info btn-icon" (click)="confirmBookTour(u.id)">
        <i class="bi bi-eye"></i></button>
                  </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>