.heading-section h2 {
    font-family: 'Times New Roman', Times;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: left;
    line-height: 1;
    color: #E76F51;
    margin: 5px
}

.ftco-about {
    margin: 0 25px;
}

.ftco-about .one-half {
    padding: 2%;
    width: 50%;
}
