<div class="row">
    <!-- ==================================-->
    <!-- ======= Basic Nav ===== -->
    <!-- ==================================-->
    <div class="col-12">
        <div class="card">
            <div class="p-3">
                <h4 class="card-title mb-0">QUẢN LÝ THỂ LOẠI</h4>
            </div>
            <div *ngIf="hidden==false">
                <form action="" [formGroup]="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <input formControlName="tentheloai" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <button (click)="add()">{{text}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="hidden">
                <form action="" [formGroup]="form_update">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <input formControlName="tentheloai" class="form-control" [placeholder]="findTLById(id)">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-field">
                                    <button (click)="update(id)">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Tất cả">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Tên thể loại</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of theloais; index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenLoai}}
                                                </td>
                                                <td *ngIf="tr.trangThai==1" style="color:green">
                                                    Hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai!=1" style="color:red">
                                                    Ngừng hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai==1">
                                                    <button type="submit" class="btn btn-inverse-info btn-icon" (click)="capNhat(tr)">
                            <i class="bi bi-pen"></i></button>
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="xoa(tr.id)">
                            <i class="bi bi-trash"></i></button>
                                                </td>
                                                <td *ngIf="tr.trangThai==0"><button type="button" class="btn btn-inverse-info btn-icon" (click)="khoiphuc(tr.id)">
                            <i class="bi bi-arrow-clockwise"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Hoạt động">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Tên thể loại</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of theLoaiByStatus(1); index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenLoai}}
                                                </td>
                                                <td *ngIf="tr.trangThai==1" style="color:green">
                                                    Hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai!=1" style="color:red">
                                                    Ngừng hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai==1">
                                                    <button type="submit" class="btn btn-inverse-info btn-icon" (click)="capNhat(tr)">
                            <i class="bi bi-pen"></i></button>
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="xoa(tr.id)">
                            <i class="bi bi-trash"></i></button>
                                                </td>
                                                <td *ngIf="tr.trangThai==0"><button type="button" class="btn btn-inverse-info btn-icon" (click)="khoiphuc(tr.id)">
                            <i class="bi bi-arrow-clockwise"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Vô hiệu hóa">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="table-lt">
                                    <table class="table table-bordered align-middle text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="text-dark font-medium fs-4">STT</th>
                                                <th class="text-dark font-medium fs-4">Tên thể loại</th>
                                                <th class="text-dark font-medium fs-4">Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tr of theLoaiByStatus(0); index as i">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{tr.tenLoai}}
                                                </td>
                                                <td *ngIf="tr.trangThai==1" style="color:green">
                                                    Hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai!=1" style="color:red">
                                                    Ngừng hoạt động
                                                </td>
                                                <td *ngIf="tr.trangThai==1">
                                                    <button type="submit" class="btn btn-inverse-info btn-icon" (click)="capNhat(tr)">
                            <i class="bi bi-pen"></i></button>
                                                    <button type="button" class="btn btn-inverse-info btn-icon" (click)="xoa(tr.id)">
                            <i class="bi bi-trash"></i></button>
                                                </td>
                                                <td *ngIf="tr.trangThai==0"><button type="button" class="btn btn-inverse-info btn-icon" (click)="khoiphuc(tr.id)">
                            <i class="bi bi-arrow-clockwise"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>