<a class="btn-back" [routerLink]="['../']"><button type="button" class="btn btn-success btn-rounded btn-fw">Xem danh
    sách tour
  </button></a>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tạo tour</h4>
            <form class="form-sample" [formGroup]="form">
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Thông tin tour</p>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tên tour</label>
                                <div class="col-sm-10">
                                    <input [formControlName]="FormField.tentour" type="text" class="form-control" value="tên tour" placeholder="Tên tour" />
                                    <div class="text-danger" *ngIf="isControlError(FormField.tentour, 'required')">
                                        Tên tour không được để trống
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-sm-7"><button type="submit" [disabled]="(!form.valid) && (this.sodem-this.songay)<0 || (this.songay-this.sodem)<1" class="btn btn-primary mr-2 " (click)="onSubmit()"> Xác
                    nhận </button></div>
                                <div class="col-sm-5 pd"><button class="btn btn-light ">Hủy</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label pd">Số ngày</label>
                                <div class="col-sm-7 pd">
                                    <input [formControlName]="FormField.soNgay" #ngay (keyup)="getSoNgay(ngay.value)" type="text" (keypress)="numberOnly($event)" class="form-control" value="1" placeholder="" hint="ngày" />
                                    <!-- <div class="text-danger" *ngIf=""></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Số lượng -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label pd">Số đêm</label>
                                <div class="col-sm-7 pd">
                                    <input [(ngModel)]="sodem" #dem (keyup)="getSoDem(dem.value)" type="text" (keypress)="numberOnly($event)" min="1" class="form-control" value="0" placeholder="" />
                                    <div class="text-danger" *ngIf="(this.sodem-this.songay)>0 || (this.songay-this.sodem)>1">
                                        Số đêm không hợp lệ
                                    </div>
                                    <div class="form-group row">
                                        {{this.songay}} ngày {{this.sodem}} đêm
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tối đa</label>
                                <div class="col-sm-7">
                                    <input [formControlName]="FormField.veToiDa" type="number" class="form-control" (keypress)="numberOnly($event)" step="1" value="1" min="1" placeholder="" />
                                    <div class="text-danger" *ngIf="isControlError(FormField.veToiDa, 'required')">
                                        Chưa nhập số vé tối đa
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Số lượng -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Tối thiểu</label>
                                <div class="col-sm-7">
                                    <input [formControlName]="FormField.veToiThieu" (keypress)="numberOnly($event)" type="number" class="form-control" min="1" value="0" placeholder="" />
                                    <div class="text-danger" *ngIf="isControlError(FormField.veToiThieu, 'required')">
                                        Chưa nhập số vé tối thiểu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-thong-tin [form]="form" [diemdi]="FormField.diemDi" [diemden]="FormField.diemDen" [phanvung]="FormField.phanvung" [theloai]="FormField.theloai"></app-thong-tin>
                <app-dia-diem [form]="form" [name]="FormField.nhungdiadiem"></app-dia-diem>
                <div class="col-12 grid-margin grid-child desc">
                    <div class="row">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mô tả</label>
                            <div class="col-sm-9">
                                <ckeditor [formControlName]="FormField.mota"></ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
                <app-dich-vu [form]="form" [nameAT]="FormField.amThuc" [nameLT]="FormField.luuTru" [namePT]="FormField.phuongtien">
                </app-dich-vu>
                <app-ngay-khoi-hanh [form]="form" [name]="FormField.nhungNgayKhoiHanh"></app-ngay-khoi-hanh>
                <app-lich-trinh [form]="form" [name]="FormField.lichtrinh" [sngay]="this.songay"></app-lich-trinh>
                <app-anh-tour [formha]="form" [imageMain]="FormField.hinhanh" (onselects)="selectsimage($event)"></app-anh-tour>
                <button type="submit" [disabled]="(!form.valid) && (this.sodem-this.songay)<0 || (this.songay-this.sodem)<1" class="btn btn-primary mr-2 " (click)="onSubmit()"> Xác
          nhận
        </button>
                <button class="btn btn-light ">Hủy</button>
            </form>
        </div>
    </div>
</div>