<div class="col col-xl-10">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-none d-md-block">
                <img src="../../../assets/images/bg/bg4.jpg" alt="login form" class="img-fluid" />
            </div>
            <div class="col-md-6 col-lg-5 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                    <form ngForm="loginForm" [formGroup]="loginForm" (ngSubmit)="ProceedLogin()" autocomplete="off">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <i class="bi bi-building"></i>
                            <span class="h1 fw-bold mb-0">{{title}}</span>
                        </div>

                        <div class="form-outline mb-4 form-group">
                            <label class="form-label" for="form2Example3">Email</label>
                            <input type="email" for="Email" formControlName="Email" class="form-control form-control-lg" />
                            <div *ngIf="loginForm.controls.Email.invalid && (loginForm.controls.Email.dirty||loginForm.controls.Email.touched)">
                                <div *ngIf="loginForm.controls.Email.errors">
                                    <div *ngIf="loginForm.controls.Email.errors.email">
                                        <small>Email chưa đúng định dạng</small>
                                    </div>
                                    <div *ngIf="loginForm.controls.Email.errors.required">
                                        <small>Bạn chưa nhập email</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-4 form-group">
                            <label class="form-label" for="form2Example4">Mật khẩu</label>
                            <input type="password" for="MatKhau" formControlName="MatKhau" class="form-control form-control-lg" />
                            <div *ngIf="loginForm.controls.MatKhau.invalid && (loginForm.controls.MatKhau.dirty||loginForm.controls.MatKhau.touched)">
                                <div *ngIf="loginForm.controls.MatKhau.errors">
                                    <div *ngIf="loginForm.controls.MatKhau.errors?.['minlength']">
                                        <small>Mật khẩu phải có ít nhất 6 ký tự</small>
                                    </div>
                                    <div *ngIf="loginForm.controls.MatKhau.errors.required">
                                        <small>Bạn chưa nhập mật khẩu</small>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4 form-group">
                            <mat-slide-toggle class="example-margin" ngModel="isChecked" (change)="checkToggel()">
                                Bạn là Doanh nghiệp
                            </mat-slide-toggle>
                        </div>
                        <div class="pt-1 mb-4 form-group">
                            <button class="btn btn-dark btn-lg btn-block " type="submit" [disabled]="!loginForm.valid"> Đăng nhập
              </button>
                        </div>

                        <p class="mb-5 pb-lg-2">Bạn đã có tài khoản?
                            <a [routerLink]="['../signup']">Đăng ký</a>
                        </p>
                        <a href="#! " class="small text-muted ">Điều khoản sử dụng.</a>
                        <a href="#! " class="small text-muted ">Chính sách hỗ trợ</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>