<section class="ftco-section">
    <div class="width-box">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center  ">
                <h2><strong>Tin tức</strong> &amp; Cẩm nang du lịch</h2>
            </div>
        </div>
        <div class="row d-flex max-width flex-gap">
            <div class="col-md-4">
                <div class="box-item relative">
                    <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    </div>
                </div>
                <div class="property">
                    <div class="cut_string2">
                        <div class="name-item">
                            Du lịch Cao Bằng Du lịch Cao Bằng</div>
                    </div>
                    <div class="cut_string5">
                        <div class="desc-item">
                            Một trong những điều đặc biệt của dulichviet.com.vn chính là có đội ngũ hướng dẫn viên được đào tạo chuyên nghiệp, có kiến thức huyên môn cao và am hiểu văn hóa nước ngoài, có thể giới thiệu cho du khách Việt những thông tin hữu ích, cũng nhằm mục đích
                            tạo cảm tình tốt đẹp giữa người Việt Nam và bạn bè quốc tế. Sau bao nhiêu năm thì cho đến hiện tại công ty Du Lịch Việt đã chính thức đặt văn phòng đại diện tại Hoa Kỳ, và tổ chức được đội ngũ hướng dẫn viên là Việt Kiều có
                            hiểu biết cặn kẽ về văn hóa Việt Nam cũng như các nền văn hóa bản địa.</div>
                    </div>
                    <div class="dates">Ngày 23 tháng 5 năm 2022</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-item relative">
                    <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    </div>
                </div>
                <div class="property">
                    <div class="cut_string2">
                        <div class="name-item">
                            Du lịch Cao Bằng Du lịch Cao Bằng</div>
                    </div>
                    <div class="cut_string5">
                        <div class="desc-item">
                            Một trong những điều đặc biệt của dulichviet.com.vn chính là có đội ngũ hướng dẫn viên được đào tạo chuyên nghiệp, có kiến thức huyên môn cao và am hiểu văn hóa nước ngoài, có thể giới thiệu cho du khách Việt những thông tin hữu ích, cũng nhằm mục đích
                            tạo cảm tình tốt đẹp giữa người Việt Nam và bạn bè quốc tế. Sau bao nhiêu năm thì cho đến hiện tại công ty Du Lịch Việt đã chính thức đặt văn phòng đại diện tại Hoa Kỳ, và tổ chức được đội ngũ hướng dẫn viên là Việt Kiều có
                            hiểu biết cặn kẽ về văn hóa Việt Nam cũng như các nền văn hóa bản địa.</div>
                    </div>
                    <div class="dates">Ngày 23 tháng 5 năm 2022</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-item relative">
                    <div class=" scale-img relative"> <img class="img-it" src="../../../assets/web/images/destination-1.jpg">
                    </div>
                </div>
                <div class="property">
                    <div class="cut_string2">
                        <div class="name-item">
                            Du lịch Cao Bằng Du lịch Cao Bằng</div>
                    </div>
                    <div class="cut_string5">
                        <div class="desc-item">
                            Một trong những điều đặc biệt của dulichviet.com.vn chính là có đội ngũ hướng dẫn viên được đào tạo chuyên nghiệp, có kiến thức huyên môn cao và am hiểu văn hóa nước ngoài, có thể giới thiệu cho du khách Việt những thông tin hữu ích, cũng nhằm mục đích
                            tạo cảm tình tốt đẹp giữa người Việt Nam và bạn bè quốc tế. Sau bao nhiêu năm thì cho đến hiện tại công ty Du Lịch Việt đã chính thức đặt văn phòng đại diện tại Hoa Kỳ, và tổ chức được đội ngũ hướng dẫn viên là Việt Kiều có
                            hiểu biết cặn kẽ về văn hóa Việt Nam cũng như các nền văn hóa bản địa.</div>
                    </div>
                    <div class="dates">Ngày 23 tháng 5 năm 2022</div>
                </div>
            </div>
        </div>
    </div>
</section>
