.ftco-section {
    padding: 3em 0 !important;
}

.heading-section h2 {
    font-family: 'Times New Roman', Times;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    color: #E76F51;
    margin: 5px
}

.property {
    margin-top: 20px;
}

.name-item {
    font-family: 'Times New Roman', Times;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
    color: #000;
}

.desc-item {
    margin-top: 15px;
    font-family: 'Times New Roman', Times;
    font-size: 16px;
    color: #000;
}

.dates {
    margin-top: 15px;
    font-family: 'Times New Roman', Times;
    font-size: 18px;
}
