.card {
    border-radius: 1rem;
}

.card .row {
    text-align: left;
}

img {
    border-radius: 1rem 0 0 1rem;
    min-height: 100%;
}

i {
    color: #ff6219;
    font-size: xx-large;
}

.fw-normal {
    letter-spacing: 1px;
}

p a {
    color: #E76F51;
    font-weight: bold;
}

form button {
    background-color: #E76F51;
    border: #ff6219;
}

span {
    text-align: center;
}

small {
    color: red;
}