<section class="ftco-section justify-content-end ftco-search">
    <div class="container-wrap ml-auto">
        <div class="row no-gutters">
            <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Tours</a>

                    <!-- <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">...</a>

                    <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">...</a> -->
                </div>
            </div>

            <div class="col-md-12 tab-wrap">

                <div class="tab-content p-4" id="v-pills-tabContent">
                    <div class="width-box">
                        <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                            <form action="#" class="search-destination">
                                <div class="row">
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label>Nơi khởi hành </label>
                                            <div class="form-field">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Chọn điểm khởi hành</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let dd of diadiems" [value]="dd.id">
                                                            {{dd.tendiadiem}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Điểm đến</label>
                                            <div class="form-field">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Chọn điểm đến</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let dd of diadiems" [value]="dd.id">
                                                            {{dd.tendiadiem}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Loại tour</label>
                                            <div class="form-field">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Chọn điểm đến</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let dd of diadiems" [value]="dd.id">
                                                            {{dd.tendiadiem}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-items-end">
                                        <div class="form-group">

                                            <label for="#">Ngày khởi hành</label>
                                            <div class="form-field">
                                                <input type="date" class="form-control checkout_date" placeholder="Ngày khởi hành">
                                                <div class="icon"><span class="icon-calendar"></span></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md align-items-end">
                                        <div class="form-group">
                                            <label for="#">Khu vực</label>
                                            <div class="form-field">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Chọn khu vực</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let dd of phanvungs" [value]="dd.id">
                                                            Miền {{dd.tenVung}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md align-self-end">
                                        <div class="form-group">
                                            <div class="form-field">
                                                <button type="submit" class="form-control btn btn-primary" (click)="onSearch()">Tìm
                          kiếm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
