<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h2 class="">CÁC KHU VỰC</h2>
                <p>Điểm đến thú vị, vui chơi thỏa thích</p>
            </div>
        </div>
        <div class="row max-width">
            <div class="col-md-4">
                <a href="#">
                    <div class="box-item relative scale-img">
                        <img class="relative" src="../../../assets/web/images/destination-1.jpg">
                        <div class=" name-item absolute">
                            <p>Miền Bắc</p>
                            <span>100 tours</span>
                        </div>

                    </div>
                </a>

            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="box-item relative scale-img">
                        <img class="relative" src="../../../assets/web/images/destination-2-1.jpg">
                        <div class=" name-item absolute">
                            <p>Miền Trung</p>
                            <span>100 tours</span>
                        </div>

                    </div>
                </a>

            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="box-item relative scale-img">
                        <img class="relative" src="../../../assets/web/images/destination-3.jpg">
                        <div class=" name-item absolute">
                            <p>Miền Nam</p>
                            <span>100 tours</span>
                        </div>

                    </div>
                </a>

            </div>

        </div>
    </div>
</section>
