<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white">
                    <h2>Đăng ký để nhận khuyến mãi</h2>
                    <p>Nhập email để có cơ hội nhận nhiều ưu đãi cho chuyến đi tiếp theo của Quý khách</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-8">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Nhập địa chỉ email">
                                    <input type="submit" value="Đăng ký" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">TOURSHOPS</h2>
                    <p>Định hướng chiến lược mang tính đột phá tại thời điểm thành lập và đi vào vận hành trong những bước đi chập chững ban đầu của DLV đó là: Thay vì tập trung vào quảng cáo, đầu tư hệ thống bán hàng theo cách truyền thống làm tăng chi
                        phí cố định dẫn đến tăng giá thành tour, Du lịch Việt đã tập trung đầu tư vốn vào chất lượng dịch vụ và xây dựng nguồn nhân lực để giữ dịch vụ được ổn định, tốt nhất cho du khách trong mọi thời điểm. </p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class=" "><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class=" "><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class=" "><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Thông tin</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Trang chủ</a></li>
                        <li><a href="#" class="py-2 d-block">Tours Gia đình</a></li>
                        <li><a href="#" class="py-2 d-block">Team building</a></li>
                        <li><a href="#" class="py-2 d-block">Tin tức & Cẩm nang</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Chính sách</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="py-2 d-block"></a>
                        </li>
                        <li><a href="#" class="py-2 d-block">Chính sách đặt tour </a></li>
                        <li><a href="#" class="py-2 d-block">Chính sách bảo mật </a></li>
                        <li><a href="#" class="py-2 d-block">Ý kiến khách hàng </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Liên hệ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">65 Huỳnh Thúc Kháng, Bến Nghé, Q.1</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">0123456789</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">cntt@caothang.edu.vn</span></a>
                            </li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span
                    class="text">http://cntt.caothang.edu.vn/</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
