<div class="card">
    <div class="width-box">
        <form action="">
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-3">Tên công ty</div>
                                <div class="col-9"><input disabled class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-field">
                            <div class="row">
                                <div class="col-3">Tên công ty</div>
                                <div class="col-9"><input disabled class="form-control"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>