<section class="ftco-about">
    <div class="width-box">
        <div class="row">
            <div class="col-9">
                <div class="row justify-content-center ">
                    <div class="col-md-7 heading-section text-center  ">
                        <h2 class="mb-4">Lịch trình</h2>
                    </div>
                </div>
                <div class="timeline">
                    <div class="outer">
                        <div class="card" *ngFor="let lt of lichtrinh">
                            <div class="info">
                                <h3 class="title">Ngày {{lt.ngay}} <span>{{lt.mota}}</span></h3>
                                <ul>
                                    <li *ngIf="lt.sang!=null">
                                        Sáng: {{lt.sang}}
                                    </li>
                                    <li *ngIf="lt.trua!=null">Trưa: {{lt.trua}}</li>
                                    <li *ngIf="lt.chieu!=null">Chiều: {{lt.chieu}}</li>
                                    <li *ngIf="lt.toi!=null">Tối: {{lt.toi}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row justify-content-center ">
                    <div class="col-md-7 heading-section text-center  ">
                        <h2 class="mb-4">Địa điểm</h2>
                    </div>
                </div>
                <div class="timeline">
                    <div class="outer">
                        <div class="card dd" *ngFor="let dd of diadiems">
                            <div class="info">
                                <h3 class="title">
                                    {{dd.thutu}}<span> - {{dd.tendiadiem}}</span>
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>