<div class="row">
    <h4 class="card-title">Top 4 Địa Điểm Được Ưa Thích Nhất</h4>
    <h5 class="card-subtitle">....</h5>
    <div class="col-md-6 col-lg-3" *ngFor='let dd of diaDiems'>
        <div class="card  max-width scale-img">
            <img [src]=dd.image alt="blogs" class="card-img-top">
        </div>
        <div class="card-body">
            <h4 class="card-title">{{dd.diaDiem}}</h4>
            <!-- <h6 class="card-subtitle">{{dd.subdiaDiem}}</h6> -->
            <p class="mt-3">{{dd.tongTour}}</p>
            <button type="button" class="btn btn-primary">Xem chi tiết</button>
        </div>
    </div>
</div>