.card-img-top {
    height: 165px;
}

.card {
    margin-bottom: 0px;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.card-body:hover .card-title {
    color: #E76F51;
}