<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/web/images/bg_1.jpg');">
    <div class="overlay"></div>
    <nav class="navbar navbar__container navbar__background navbar-expand-lg ftco_navbar bg-dark bg-dark px-lg-4 scrolled awake" id="ftco-navbar">
        <div class="container container-fluid bg-none">
            <a class="navbar-brand font-weight-bold  text-light" href="index.html">Adventure</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link font-weight-normal text-light">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link font-weight-normal text-light">About</a></li>
                    <li class="nav-item"><a href="places.html" class="nav-link font-weight-normal text-light">Places</a></li>
                    <li class="nav-item"><a href="hotel.html" class="nav-link font-weight-normal text-light">Hotels</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link font-weight-normal text-light">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link font-weight-normal text-light">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div class="container">
        <div class="row no-gutters slider slider-text js-fullheight d-flex justify-content-md-start align-items-center pl-md-5" data-scrollax-parent="true">
            <div class="col-md-9 mb-5 pb-5 mt-5 text-center text-md-left" data-scrollax=" properties: { translateY: '80%' }">
                <h1 class="mb-4 mt-5 mr-4 slider__title" data-scrollax="properties: { translateY: '90%', opacity: 1.6 }">
                    Discover <br>A new Place
                </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" class="slider__description">Find great places to stay, eat, shop, or visit from local experts</p>
            </div>
        </div>
    </div>