<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/web/images/bg_1.jpg');">

    <div class="overlay"></div>

    <div class="container">
        <div class="row no-gutters slider slider-text js-fullheight d-flex justify-content-md-start align-items-center pl-md-5" data-scrollax-parent="true">
            <div class="col-md-9 mb-5 pb-5 mt-5 text-center text-md-left" data-scrollax=" properties: { translateY: '80%' }">
                <h1 class="mb-4 mt-5 mr-4 slider__title" data-scrollax="properties: { translateY: '90%', opacity: 1.6 }">
                    Cuộc đời <br> là những chuyến đi!
                </h1>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" class="slider__description">Đến nơi bạn cảm thấy bình yên nhất - Tận hưởng hạnh phúc cũng những chuyến đi.</p>
            </div>
        </div>
    </div>
