<app-top-thong-ke></app-top-thong-ke>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- <div class="row">
    <div class="col-lg-6">
        <app-feeds></app-feeds>
    </div>
    <div class="col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- <div class="row">

    <div class="col-12">
        <app-top-diadiem></app-top-diadiem>
    </div>
</div> -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <app-blog-cards></app-blog-cards>
    </div>
</div>
<div class="row">
    <!-- column -->
    <div class="col-12">
        <app-top-congty></app-top-congty>
    </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->