<a class="btn-back" [routerLink]="['../../']"><button type="button" class="btn btn-success btn-rounded btn-fw">Xem danh
    sách tour
  </button></a>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cập nhật thông tin người dùng</h4>
            <form class="form-sample" [formGroup]="form" (ngSubmit)="change()">
                <div class="col-12 grid-margin grid-child">
                    <p class="card-description">Thông tin người dùng</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Username</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="tenNguoiDung" [value]="user.tenNguoiDung" [placeholder]="user.tenNguoiDung" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Họ và tên</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" formControlName="hoTen" [value]="user.hoTen" [placeholder]="user.hoTen" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">CMND</label>
                                <div class="col-sm-9">
                                    <input class="form-control" (keypress)="numberOnly($event)" type="text" formControlName="cmnd" [value]="user.cmnd" [placeholder]="user.cmnd">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Số điện thoại</label>
                                <div class="col-sm-9">
                                    <input class="form-control" (keypress)="numberOnly($event)" type="text" formControlName="sdt" [value]="user.sdt" [placeholder]="user.sdt">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-3">Ngày sinh</div>
                                    <div class="col-3">{{this.pipe.transform(user.ngaySinh,"dd/MM/yyyy")}}</div>
                                    <div class="col-6"><input class="form-control" type="date" formControlName="ngaySinh" [value]="user.ngaySinh" [placeholder]="user.ngaySinh">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-radio-group aria-label="Select an option" formControlName="trangThai">
                                            <mat-radio-button [value]=0>Vô hiệu hóa</mat-radio-button>
                                            <mat-radio-button [value]=1>Hoạt động</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-6">
                                        <mat-checkbox formControlName="isAdmin">Quản trị viên</mat-checkbox>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2" (click)="change()"> Xác nhận </button>
                <button class="btn btn-light">Hủy</button>
            </form>
        </div>
    </div>
</div>
