<section class="ftco-about d-md-flex">

    <div class="col-6">
        <div class="form-in">
            <h2>THÔNG TIN LIÊN LẠC</h2>

            <div class="form-group row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3"><label for="">Họ tên: </label></div>
                        <div class="col-9"><input disabled [value]="hoten"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-3"><label for="">SĐT: </label></div>
                        <div class="col-9"><input disabled [value]="sdt"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row email">
                <div class="col-7">
                    <div class="row">
                        <div class="col-2"><label for="">Email: </label></div>
                        <div class="col-10"><input disabled [value]="email"></div>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-in thong-tin">
            <h2>THÔNG TIN ĐẶT TOUR</h2>
            <form>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2"><label for="">Người lớn: </label></div>
                            <div class="col-3">(Từ 6 tuổi trở lên)</div>
                            <div class="col-4"><button [disabled]="this.maxVe==0" type="button" (click)="congnl()"><i
                    class="bi bi-plus"></i></button><input disabled [value]="this.nglon"><button [disabled]="this.nglon==1" type="button" (click)="trunl()"><i class="bi bi-dash-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2"><label for="">Trẻ em: </label></div>
                            <div class="col-3">(Từ 2 tuổi trở lên)</div>
                            <div class="col-4"><button [disabled]="this.maxVe==0" type="button" (click)="congte()"><i
                    class="bi bi-plus"></i></button><input disabled [value]="this.trem"><button [disabled]="!this.trem" type="button" (click)="trute()"><i class="bi bi-dash-lg"></i></button></div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2"><label for="">Trẻ nhỏ: </label></div>
                            <div class="col-3">(Dưới 2 tuổi)</div>
                            <div class="col-4"><button [disabled]="this.maxVe==0" type="button" (click)="congtn()"><i
                    class="bi bi-plus"></i></button><input disabled [value]="this.trnho"><button [disabled]="!this.trnho" type="button" (click)="trutn()"><i class="bi bi-dash-lg"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6">
        <div class="form-in">
            <h2>THÔNG TIN VÉ</h2>
            <app-thong-tin-ve [tour]="this.tour" [ngayKHs]="this.ngayKHs" [nglon]="this.nglon" [trem]="this.trem" [trnho]="this.trnho" [ngay]="this.ngaykh" [tongVe]="this.tongKhach()">
            </app-thong-tin-ve>
        </div>

    </div>
</section>
