.ftco-section {
    padding: 3em 0 !important;
    background-color: #FAF0EE;
}

.heading-section h2 {
    font-family: 'Times New Roman', Times;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
    color: #E76F51;
    margin: 5px
}

.row {
    gap: 20px;
    margin: 0 25px;
}

.col-md-3 {
    background: #FFF;
    border-radius: 10px;
    width: 23.8%;
    padding: 0px;
}

.box-item {
    border-radius: 10px;
    padding: 15px;
}

.img-it {
    position: relative;
    border-radius: 15px;
}

.price-item {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    padding: 10px;
    border: 2px solid #E76F51;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #E76F51;
    align-items: center;
}

.property {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}

.property .row {
    margin: 0 0px;
    align-items: baseline;
}

.name-item {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.col-md-4 {
    width: 43%;
}

.right {
    text-align: right;
}

.property i,
.property .col-md-4 {
    color: #E76F51;
}

.property .buttons {
    margin-top: 20px;
}

.property .buttons button {
    width: 50%;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    border: #E76F51 3px solid;
}

.property .buttons button:nth-child(1) {
    border-bottom-left-radius: 10px;
    background: #fff;
    color: #E76F51;
}

.property .buttons button:nth-child(2) {
    border-bottom-right-radius: 10px;
    background: #E76F51;
    color: #fff;
}
