<div class="card">
    <div class="p-3">
        <a class="btn-back" [routerLink]="['../../']"><button type="button" class="btn btn-success btn-rounded btn-fw">Xem
        danh
        sách tour
      </button></a>
    </div>
    <div class="card-body">
        <div class="card-info">
            <div class="p-3">
                <h1 class="title">{{tour.tentour}}</h1>
                <div class="card-sub-description mb-4">Loại tour: <span>{{tour.tentheloai}}</span></div>
                <div class="card-sub-description mb-4">Nơi khởi hành: <span>{{tour.tendiemdi}}</span></div>
                <div class="card-sub-description mb-4">Điểm đến: <span>{{tour.tendiemden}}</span></div>
                <div class="card-sub-description mb-4">Thời gian: <span>{{tour.soNgay}} ngày {{tour.soDem}} đêm</span>
                </div>
            </div>
        </div>
    </div>
    <app-lich-khoi-hanh [idTour]="this.idTour"></app-lich-khoi-hanh>
    <app-lich-trinh-tours [tour]="this.tour"></app-lich-trinh-tours>
</div>