<div class="p-3">
    <a class="btn-back" [routerLink]="['../']"><button type="button" class="btn btn-success btn-rounded btn-fw">Xem danh
    sách tour
  </button></a>
</div>
<div class="card-body">
    <div class="card-info">
        <div class="p-3">
            <div class="card-title">Tour du lịch 3 ngày 2 đêm ABC</div>
            <div class="card-sub-description">Ngày khởi hành: <span>20/5/2022</span></div>
            <div class="card-sub-description">Nơi khởi hành: <span>TP. Hồ Chí Minh</span></div>
        </div>
    </div>
</div>
<app-lich-trinh-tours></app-lich-trinh-tours>