<div class="width-box">
    <section class="ftco-about d-md-flex row">
        <div class="col-6 img max-width">
            <app-anh-tour [tour]="this.tour" [hinhanh]="this.hinhanh"></app-anh-tour>
        </div>
        <div class="col-6">
            <div class="heading-section">
                <div class="cut_string4">
                    <h1 class="mb-4">{{tour.tentour}}</h1>
                </div>
            </div>
            <div class="body-section">
                <div class="info-tour">
                    <ul>
                        <li>Tổ chức: <span>{{congty.tencongty}}</span>
                            <ul>
                                <li>STK:<span> {{congty.theNganHang}}</span></li>
                                <li>MST:<span> {{congty.mst}}</span></li>
                                <li>Văn phòng:<span> {{congty.vanPhong}}</span></li>
                            </ul>
                        </li>
                        <li>Thể loại: <span>{{tour.tentheloai}}</span></li>
                        <li>Xuất phát tại: <span>{{tour.tendiemdi}}</span></li>
                        <li>Điểm đến: <span>{{tour.tendiemden}}</span></li>
                        <li>Ngày khởi hành: <span *ngIf="findDateDisplay(this.ngay)!=null">{{this.pipe.transform(findDateDisplay(this.ngay),"dd/MM/yyyy")}}</span><span *ngIf="findDateDisplay(this.ngay)==null">{{message}}</span></li>
                        <li>Thời gian: <span *ngIf="tour.soDem!=0">{{tour.soNgay}} ngày {{tour.soDem}} đêm</span>
                            <span *ngIf="tour.soDem==0">{{tour.soNgay}} ngày</span>
                        </li>
                        <li>Còn: <span *ngIf="findDateDisplay(this.ngay)!=null">{{findBlank(this.ngay)}}</span><span *ngIf="findDateDisplay(this.ngay)==null">{{message}}</span></li>
                        <li>Nơi tập trung: <span>Đang cập nhật</span></li>
                    </ul>
                </div>
                <div class="box-button flex justifylex">
                    <button (click)="datNgay()" [disabled]="findDateDisplay(this.ngay)==null">ĐẶT NGAY</button>
                    <button>LIÊN HỆ TƯ VẤN</button>
                </div>

            </div>
        </div>
    </section>
</div>
<app-bang-gia [ngayKhs]="this.ngayKHs" [tour]="this.tour" [amthuc]="this.amthuc" [luutru]="this.luutru" [phuongtien]="this.phuongtien"></app-bang-gia>
<app-lich-trinh-chi-tiet [lichtrinh]="this.lichtrinh" [tour]="this.tour" [diadiems]="this.diadiem">
</app-lich-trinh-chi-tiet>
<app-tour-lien-quan [tour]="this.tour"></app-tour-lien-quan>
