<nav class="navbar navbar__container navbar__background navbar-expand-lg ftco_navbar bg-dark bg-dark px-lg-4 scrolled awake" id="ftco-navbar">
    <div class="container container-fluid bg-none">
        <a class="navbar-brand font-weight-bold  text-light" href="index.html">TourShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a [routerLink]="['./']" class="nav-link font-weight-normal text-light">Trang
            chủ</a>
                </li>
                <li class="nav-item"><a [routerLink]="['./newtours']" class="nav-link font-weight-normal text-light"> Tour
            mới</a></li>

                <li class="nav-item" ngbDropdown placement="bottom-end">
                    <div *ngIf="loginStatus()">
                        <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ms-2">{{name}}</span>
                        </a>
                    </div>
                    <div *ngIf="loginStatus()==false" class="dangnhap">
                        <a ngbDropdownToggle class="nav-link waves-effect waves-dark pro-pic" [routerLink]="['./login']" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="ms-2">Đăng nhập</span>
                        </a>
                    </div>
                    <div [hidden]="!loginStatus()" class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['./profile']"> Hồ sơ cá nhân</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" [routerLink]="['./logout']">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>