.navbar {
    padding-top: 0rem;
    padding-bottom: 0rem;
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999999;
    }
    &__background {
        color: #000;
    }
}

.nav-link {
    padding: 15px 20px !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

.nav-item:hover,
.navbar-nav .active {
    background: #E76F51;
    color: #ffffff;
}

.login {
    padding: 5px;
}

.login a {
    color: #E76F51 !important;
    background: #fff;
    border-radius: 10px;
    padding: 10px !important;
}

.login a:hover {
    color: #fff !important;
}

.dangnhap .dropdown-toggle::after {
    display: none;
}